/* GLOBAL STYLES */
html {
  box-shadow: 0 0 0 16vw #FCE2D7 inset; /* sets border of page and color of border*/
  /* padding: 0 30px 0 0px; */
  padding: 0 auto;
  /* background-color: #fce2d7; */
}
body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
}
.content_container {
  display: flex;
  flex: 1 1 auto;           /*sets flex item to fill space*/
  padding-top: 10vh;
  width: 100%;
  /* box-sizing: border-border-box; */
}
h1 {
  font-size: 7vw;
  position: relative;
  margin-top: 0;
  /* z-index: 0; */
  margin: 0 0 10vh;
  /* padding-top: 30vh; */
  /* padding-top: 300px; */
}
h2 {
  font-size: 1.8em;
}
h4 {
  font-weight: bold;
  color: #999;
  /* text-transform: uppercase; */
}
a {
  color: #62afdb;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
/* h2 ~ p {
  font-size: 1.8em;
  margin: 0px 0 0px 0px;
  padding-top: 50px;
} */



/* HEADER STYLES */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
  /* background-color: rgba(237, 110, 47, 0.4); */
}
.header_nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header_nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header_nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1em;
}
.header_nav a,
.drop_trigger {
  /* color: #fff; */
  color: #000;
}
.header_nav a:hover,
.header_nav a:active {
  color: #ed6e2f;
}
.header_nav > li:first-child a {
  color: #ed6e2f;
}
.header_nav > li:first-child a:hover,
.header_nav > li:first-child a:active {
  /* color: #fff; */
  color: #000;
}
.header_logo {
  /* background-color: rgba(237, 110, 47, 0.4); */
  box-sizing: border-box;
  display: block;
  height: 10vh;
  padding: 1rem;
  position: relative; /* takes out of flow of content */
  text-align: center; /* images are an inline element (use text-align to center it within the box)*/
  width: 10vh;
}
.header_logo:hover,
.header_logo:active {
  /* opacity: 0.5; */
  /* background-color: rgba(237, 110, 47, 0.4); */
  background-color: #ed6e2f;
}
.header_logo img {
  /* height: 70%; */
  width: 6vh;
}
.header_nav > li:last-child a {
  color: teal;
}
.header_nav > li:last-child a:hover,
.header_nav > li:last-child a:active {
  color: blue;
}


.nav_links a,
.drop_trigger,
.show_mobile_menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav_links a:hover,
.nav_links a:active {
  color: #ed6e2f;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop_menu {
    display: block;
}
.drop_trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}
.drop_trigger:after {         /*tiny rectangle affordance-indicator*/
  border: 0.3em solid;
  border-color: black transparent transparent;
  content: "";
  height: 0;
  width: 0;
  top: 0.3em;
  right: 0;
  position: absolute;
}
.dropdown:hover .drop_trigger:after {
  border-color: #ed6e2f transparent transparent;
}
.drop_menu {
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.2);
  display: none;
  position: absolute;
  list-style: none;
  padding: 1em 0 0;
  right: 0;
  z-index: 9;
}
.drop_menu:before {           /*arrow connected to menu*/
  border: 0.6em solid;
  border-color: transparent transparent #FDF2EE;
  content:"";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop_menu li {         /*menu box, lower*/
  background-color: #FDF2EE;
}
.drop_menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1);
}
.drop_menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: teal;                /*"recent posts"*/
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
  text-transform: uppercase;
}
.drop_menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop_menu a {              /*link text*/
  color: #333;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop_menu a:hover {          /*link text:hover*/
  background-color: rgba(0,0,0,0.1);
  color: #333;
}
/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop_menu,
.footer .drop_trigger:after  {
  display: none;
}
.footer .drop_trigger {
  padding-right: 0;
}
.mobile_menu_check,
.show_mobile_menu {
  display: none;
}

/* FOOTER STYLES */
.footer {
  /* background-color: #FCE2D7; */
  background-color: #FDF2EE;
  padding: 10vh 0 15vh;
  text-align: center;
}
.footer_logo img {
  width: 250px;
}
.footer h3 {
  color: #000;
  padding: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.footer h3 span {
  color: #aaa;
}
.footer_nav li {
  display: inline-block;
  /* margin: 2em 1em 0; */
  margin: 0em 1em 0;
}
.footer_nav a {
  color: #000;
}

/* COLUMN STYLES */
.col_three {
  display: flex;
  flex: 1 1 0;
  /* flex-grow: 1; */
  flex-direction: row;
}
.col {
  box-sizing: border-box;
  padding: 2em;
}
.col_three .col ~ .col {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.col_three .col_nav {
  flex-grow: 0; /*does not expand*/
  flex-shrink: 1;
  flex-basis: 15em; /*tries to take up 15em*/
}
.col_three .col_content {
  flex-grow: 1; /*expand*/
  flex-shrink: 1;      /*contract*/
  flex-basis: 0;
  background-color: #004680;
}
.col_three .col_aside {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20em;
}
/*
.col_nav {
    flex: 1;
}
.col_content {
    flex: 1;
}
.col_aside {
    flex: 1;
} */
.col_two {
  display: flex;

  /* flex-direction: column; */
}
.col_two .blog_cols {
  /* width: 40rem; */
}
.col_two .col_aside {
  flex: 0 0 20em;       /* flex-grow: 0; flex-shrink: 0; flex-basis: 20em; */
  order: 1;             /* flex allows rearrangement of items in flex-container by use of style "order" */
}
.col_two .col_content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;                  /* flex-grow: 1; flex-shrink: 1; flex-basis: 0; */
}

/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}
.page h2 {
  margin-bottom: 0.5em;
}
.page h4 {
  margin-bottom: 1em;
}
/* .page img {
  border-radius: 99px;
  height: 2.5em;
  vertical-align: middle;
  display: inline-block;
} */

/* HERO STYLES */
.full_hero {  /* template */
  background-color: #FCE2D7;
  background-size: cover; /* "cover" covers the entire div. cover resizes the image so that the entire .full-hero container is covered by the image */
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 90vh;           /* for fixed header */

  /* height: 100vh; */    /* for w/o fixed header */
  /* padding-top: 10vh; */
  /* position: relative; */
}
.full_hero:after {
  content: "﹀";
  font-size: 36px;
  bottom: 2vh;
  color: #000;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
.hero_home {
  /* background-image: url(/images/IMG_4737.heic); */
  /* background-image: url(/images/mtfitz_roy_victor_post_2.jpg); */
  background-image: url(/images/nong-vang-9pw4TKvT3po-unsplash.jpg);
  /* background-image: url(/images/Artboard_1@2365x-50.jpg); */
  /* background-image: url(/images/IMG_2878_together.PNG); */
  /* background-image: url(/images/happytogether.jpg); */
  /* background-image: url(/images/SHARK.jpg); */
  /* background-position: center top; */
  /* background-position: 30% center; */
  background-position: center;
  /* background-position: top; */
  /* background-position: left; */
  /* background-size: cover; */
  /* opacity:  0.5; */
  position: relative;
}
.hero_home:after {
  content: "";
  /* background: url(image.jpg); */
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.hero_content { /* Since the .hero-content wrapper is already going to be 100% of the width (it’s just a normal block element), we don’t need to worry about messing with horizontal centering. Just aligning the content using text-align: center will be good enough—we only need to worry about vertical positioning, which we can do with the top: 50% and translate(0, -50%)*/
  /* color: #fff; */
  position: relative;
  text-align: center;
  top: 50%;                           /* brings this to the top of the halfway point */
  transform: translate(0, -50%);      /* translates it up 50% of the height of the content, thus centering it. */
  /* width: 50%; */
}
.hero_content h1 {
  /* color: #004680; */
  color: rgba(255, 255, 255, 1);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
/* .hero_content .social_link {           white and black social link
background-color: rgba(255,255,255,.8);
color: #556c83;
} */
/* .hero_content .social_link:hover {
  background-color: #000;
  color: #fff;
} */
.half_hero {
  background-position: center center;
  background-size: cover;
  height: 40vh;
}

/* SOCIAL STYLES –– elements used across the site */
.social_link {    /*Global styles that––no matter where they are used on the site––will look uniform*/
  background: #ffcc17;
  border-radius: 99px;
  box-sizing: border-box; /*padding and border are contained within the width of the element*/
  color: teal;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: .6em;
  text-align: center;
  text-decoration: none;
  width: 2.5em;
  /* height: 1rem; */
}
.social_link:hover,
.social_link:active {
  background-color: rgba(237, 110, 47, .8);
}
.social_list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social_list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* HOMEPAGE STYLES */
.home_section {
  background-color: #fff;
  margin: 6rem auto;
  max-width: 980px;
  /* min-width: 480px; */
  width: 64vw;
}
.home_section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.home_section h4 {
  margin-bottom: 0.5em;
  text-align: center;
}
.home_section .post_header {
  text-align: center;
}
.home_section .blog_posts {
  margin: auto;
  width: 75%;
}
.home_callout {
  align-items: flex-end;
  background-color: #fff;
  color: #000;
  display: flex;
  padding: 7vh 0;
}
.callout_title {
  flex-grow: 0;
  flex-basis: 45rem;
  font-size: 5vw;
  text-align: center;
  padding-left: 75px;
  /* text-transform: uppercase; */
}
.callout_copy {
  font-size: 0.8rem;
  flex-shrink: 0;
  flex-basis: 40em;
  padding: 0 3vw;
  /* flex-grow: 1; */
}
.home_callout {
  border-bottom: 1px dotted rgba(0,0,0,.1);
  width: auto;
}
.background > p {
  font-style: italic;
}
.most_recent_post {
  /* border-top: 1px solid rgba(0,0,0,.1); */
  border-bottom: 1px solid rgba(0,0,0,.1);
  /* padding-top: 10vh; */
  padding-bottom: 12vh;
}

/* MODULES (BIO STYLES)*/
.bio_wrapper {
  overflow: hidden;
  margin: 0 auto 25vw;
  max-width: 960px;
}
.bio_box {
  /* border: 1px dotted black; */
  border-width: 5px 5px 1px 1px;
  border-style: solid solid dotted dotted;
  /* border-color: orange orange #004680 #004680; */
  border-color: orange orange rgba(0, 70, 128, .31) rgba(0, 70, 128, .31);
  /* border-color: orange orange rgba(0, 70, 128, .71) rgba(0, 70, 128, .71); */

  /* border-color: orange orange transparent transparent; */
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 2.5rem 1%;
  padding: 2% 2.5%;
  position: relative;
  width: 23%;
  /* padding: 0 3%; */
}
.bio_box h3 {
  color: black;
  font-size: 1.5rem;
  /* margin: -32px 0 1em 0em; */
  /* right: 0px; */
  display: inline-block;
  text-align: center;
  /* z-index: 1; position: fixed; */
}
.bio_box img {
  width: 100%;
  /* filter: grayscale(100%) */
  /* z-index: -1; */
}
/* .bio_box .social_link{
  text-align: center;
} */
.bio_box .social_link {
  display: block;
  margin: 1em 0;
}
.bio_copy {
  font-size: .75em;
}
.bio_copy a {
  color: rgba(255,0,0,0.45);
}
.of_their_own {
  /* border: 1px dashed black; */
  border-style: dashed;
  border-width: 5px 5px 1px 1px;
  /* border-color: orange orange #004680 #004680; */
  border-color: orange orange rgba(0, 70, 128, .71) rgba(0, 70, 128, .71);
  /* padding-top: 2vh;
  position: absolute;
  width: 33%;
  left: 50%;
  transform: translate(-50%, 270%); */
}

/* GALLERY STYLES */
.gallery_thumbs {
  height: 90vh;
  overflow: scroll;
}
.gallery_thumbs > div {
  cursor: pointer;
}
.gallery_thumbs img {
  box-sizing: border-box;
  box-shadow: 0 0 0 5px transparent;
  display: inline-block;
  margin: 0 0 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.gallery_thumbs img:hover {
  opacity: 1;
   /* width: 50%; */
}
.gallery_thumbs .current img {
  box-shadow: 0 0 0 5px #ed6e2f;
  /* opacity: 1; */
}
.gallery_photo {
  position: relative;
  transform: rotate(20deg);
}
.gallery_photo img {
  width: 100%;
}
.gallery_info {
  font-size: 0.8rem;
}
.gallery_info h3 {
  margin-bottom: 1em;
}

/* BLOG STYLES */
html .blog_index {
  background-color: #fff;
}
.blog_recent {
  text-align: right;
}

.blog_title_list {
  list-style: none;
  padding: 0;
}
.blog_title_list li ~ li { /* general sibling selector: everything after the first one */
  margin-top: 1.5em;
}
.blog_title_list span {
  color: #999;
  display: block;       /* Put it in a span (gets its own line). Then, you can display:block it, so that it's on a new line.*/
  font-size: .8em;
  font-style: italic;
  margin-top: 0.5em;
}

.blog_posts ~ .blog_posts {     /*general sibling selector: targets all after the first one*/
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 4em;
  padding-top: 4em;
}
.blog_posts .post_header {
  font-size: 0.8rem;

}
.post_header {
  margin-bottom: 1.5em;
}
.post_header img,
.post_header .social_link {
  margin-right: 0.5em;
}
.post_header img {
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
  /* display: block; */         /*I like this. Looks like a cool profile tag with link at the bottom left-corner.*/
}
/* preview images for the blog post @blog index */
.posts_image {
  background-position: center;
  background-size: cover;
  height: 6em;
  margin-bottom: 1.5em;
}
.post {
  width: 100%;
}
.post_content,
.post_footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.pull_left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull_right {
  float: right;
  margin: 2em -2% 2em 2em;
}
.post_aside {
  background-color: rgba(0, 0, 0, 0.03);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post_header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post_content {
  font-size: 1.1em;
}
.post_footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
}

@media (max-width: 800px) {       /* when the browser window is less than 800px, then apply the styles that are inside of this */
  html {                          /* breakpoint@800px */
    box-shadow: none;
    padding: 0;
  }

/* HEADER STYLES */
.header_nav {
  padding: 2vh 1em 0 0;
}
.header_nav > li {
  margin-left: 0.25em;
}
.header_nav > li ~ li {
  padding-left: 0.5em;
}
.nav_links a {
  font-size: 3vw;
}
.header_logo {
    left: auto;
}

/* MOBILE MENU */
.show_mobile_menu {
  display: block;
  float: right;
  margin-top: 1.5vh;
  padding: 1.5em;
  position: relative;
}

.header_nav {
  background-color: #444;
  box-sizing: border-box;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 10vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: 9;
}
.header_nav li {
  display: block;
  margin-top: 1em;
}
.header_nav li ~ li {
  border: 0;
  padding: 0;
}
.header_nav li:last-child {
  margin-bottom: 1em;
}
.header_nav li:first-child a {
  color: #fff;
}
/* HIDE DROPDOWN IN THE NAV MENU */
.header_nav .dropdown:hover .drop_menu,
.header_nav .drop_trigger:after {
  display: none;
}
.header_nav .drop_trigger {
  padding-right: 0;
}
.mobile_menu_check:checked ~ .header_nav {
  max-height: 1000px;
}
.mobile_menu_check:checked ~ .show_mobile_menu:after {
  background-color: #fff;
  color: #ed6e2f;
  content: "CLOSE";
  left: 0;
  position: absolute;
  top: 1.5em;
  width: 100%;
  text-align: center;
}

/* HOMEPAGE STYLES */
.home_callout {
  flex-direction: column;
  align-items: center;
}
.callout_copy {
  flex: 1;
}
.callout_title {
  flex: 1;
  width: auto;
  padding: 0;
}
h1.callout_title {
  margin: 0 0 2vh;
}
.bio_box {
  float: none;
  font-size: 1.3rem;
  width: auto;
  border-left: none;
  border-bottom: none;
}
.callout_copy {
  font-size: 1rem;
}

/* GALLERY STYLES */
.gallery {
  flex-direction: column;
}
.gallery .col {
  padding: 1em;
}
.col_three .col_nav {
  flex: 1;
  height: auto;
  white-space: nowrap;
  width: 100vw;
}

.gallery .gallery_thumbs {
  flex: 1;
  height: auto;
  white-space: nowrap;
  width: 100vw;
}
.gallery_thumbs > div {
  display: inline-block;
}
.gallery_thumbs img {
  height: 7vh;
  margin: 0 10px 0 0;
  width: auto;
}
.gallery .gallery_info {
  flex: 1;
}

  /* flex-direction: row; */
/* BLOG STYLES */
.post_aside {
    display: none;
  }
.blog_cols {
  display: flex;
  flex-direction: column;
}
.col_two .col_aside {
  /* order: 0; */
  /* text-align: center; */
}
.blog_recent {
  flex: 1;
  /* text-align: center; */
}
}

/*
@media (max-width: 600px) {
  .half_hero {
    display: none;
  }
} */

/*
.hero_home {
} */
/* width: 75vw; */
/* .full_hero li {
  display: inline;
} */

/* .full_hero:hover,
.full_hero:active {
  background-color: rgba(237, 110, 47, 0.4);
} */

/* padding-top: 30vh; */
/* margin-left: 30px; */
/* padding-top: 10vh; */
/* box-shadow: 10px 10px 10px 0 #000; */
