<head>
  {% if page.title %}
    <title>{{ page.title }} | Sleepy Dog</title>
  {% else %}
    <title>Sleepy Dog Productions</title>
  {% endif %}
  <!-- <conditional for page site title> -->
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is Sleepy Dog Productions.">
  {% endif %}
  <link href="/favicon.png" rel="icon">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- localhost filepath -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Josefin+Slab&family=Open+Sans&family=Raleway:wght@100&display=swap" rel="stylesheet">  <link rel="stylesheet" href="/fonts/fontawesome-free-5.13.0-web/css/all.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- github filepath -->
  <!-- <link rel="stylesheet" href="/css_victortokaito.github.io/css/reset.css"> -->
  <!-- <link rel="stylesheet" href="/css_victortokaito.github.io/css/main.css"> -->

  <script src="/js/gallery.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    activateGallery();
    });
  </script>
</head>
