<header class="header">
  <nav>
    <ul class="header_nav nav_links">
      {% include nav_links.html %}
    </ul>
  </nav>
  <a href="/" class="header_logo">
    <!-- <img src="/images/onlylogo_transparent copy.png" alt="cool circular logo"> -->
    <img src="/css_victortokaito.github.io/images/onlylogo_transparent copy.png" alt="cool circular logo">
    <!-- <img src="/images/Sleepy Dog Productions copy.png" alt="sleepy dog illustration" style="transform: translate(100%,-107%);"> -->
  </a>
</header>

<!-- {{ include.content }} -->
